
# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/

# Logs
logs/
*.log
*.log.*

# Environment variables


# MacOS
.DS_Store


# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git specific
.git/

# Temporary files
temp/
tmp/

# TypeScript
*.tsbuildinfo

# Axios Cache
axios-cache/

# Test coverage
coverage/

# Local storage files
.local/

# Miscellaneous
*.log
